* {
  margin: 0;
  padding: 0;
}
/* var colors */
:root {
  --color-bg: #f3f3f3;
  --color-bglight: white;
  --color-main: #30475e;
  --color-accent: #f05454;
  --color-a: #30475e;
  --color-ah: #f05454;
  --color-av: #30475e;
  --color-content: #222831;
  --color-h: green;
  --color-border: violet;
  --font-main: "Outfit", sans-serif;
  --font-h: "Outfit", sans-serif;
}

/* tags */

body {
  margin: 0;
  padding: 0;
  position: relative;
  background-color: var(--color-bg);
  font-family: var(--font-main);
  color: var(--color-content);
}
a:link {
  color: var(--color-a);
  text-decoration: none;
}
a:visited {
  color: var(--color-av);
}

a:hover {
  color: var(--color-ah);
}

a:active {
  color: var(--color-aa);
  text-decoration: overline;
}

/* Classes */

.menu {
  position: fixed;
  display: flex;
  margin: 0;
  top: 0;
  width: 100%;
  height: 4rem;
  align-items: center;
  justify-content: center;
  background-color: var(--color-main);
  border-bottom: solid 2px var(--color-bglight);
}
.menu h1 {
  font-family: var(--font-h);
  font-weight: 400;
  line-height: 1.1rem;
  font-size: 1rem;
  margin: auto 2rem auto 2rem;
  display: inline-block;
}

.menu__text {
  justify-content: center;
  text-align: center;
}

.menu__text a:link {
  color: var(--color-bg);
}

.menu__text a:link {
  color: var(--color-bg);
}
.menu__text a:visited {
  color: var(--color-bg);
}
.menu__text a:active {
  color: white;
}
.menu__text a:hover {
  color: white;
}

.dots {
  margin: auto;
  position: relative;
  width: 20%;
  border-width: 1rem;
  border-style: dotted none none none;
  border-color: var(--color-accent);
}
.content {
  position: relative;
  margin: 4rem auto;
  padding: 1rem 1rem 0;
  width: 60%;
  /* border: solid 1px var(--color-border); */
}

.container {
  position: relative;
  width: 5rem;
  height: 5rem;
  background-color: rgb(135, 222, 147);
  margin: 1rem;
  margin: auto;
}

/* Details */

.info {
  position: relative;
  margin-bottom: 1rem;
}
summary {
  position: relative;
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}

.info__header {
  top: 0;
  cursor: pointer;
  display: inline-flex;
}
.info__header h2 {
  font-size: 1.1em;
  /* cursor: text; */
  width: auto;
  white-space: nowrap;
  font-weight: 500;
}

.info__header p {
  margin-left: 0.3rem;
  font-weight: 300;
}

.info__details {
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 0.5rem;
  border: solid 1px lightgrey;
  background-color: var(--color-bglight);
}
.comment {
  font-style: italic;
  font-weight: 200;
}
.info hr {
  margin: 1rem auto;
  border: solid 1px var(--color-main);
}
